/* Work sans fonts from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
/* Shared Styles */
* {
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  background: #ff900e;
  border: 0;
  border-radius: 5px;
  padding: 20px 25px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.text-light-gray {
  color: #727272;
  font-style: normal;
  font-size: 1rem;
  font-weight: 400;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
.nav-title {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  color: #131313;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
}
nav li a {
  text-decoration: none;
  color: #424242;
}
/* banner styles */
.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
}

.banner img {
  margin-top: 20px;
  width: 100%;
}
/* Main Section start */
main{
    max-width: 1440px;
    width: 100%;
    margin: 70px auto;
}
.team-container{
    display: flex;

}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

.team-content{
    padding-left: 70px;
    padding-right: 70px;
    margin: auto;
}
.team-title{
  font-size: 2.8rem;
}
.team-title .quick-list{
  color: #727272;
  font-weight: 500;
}
.team-title .text-features{
  color: #FF900E;
  font-weight: 700;
}
/* some facts */
.facts-img-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;

}
.some-facts-title{
  font-size: 2.8rem;
  margin-bottom: 24px;
  margin-top: 24px;
}

.each-facts-img-wapper{
  padding: 30px;
  border: 1px solid #FF900E;
  border-radius: 5px;
  text-align: center;
  
  

}
.facts-title{

  font-weight: 600;
  margin-top: 5px;
}
.facts-count{
  font-size: 2.8rem;
  color:#424242;
  margin-top: 10px;
  margin-bottom: 10px;
}






























/* Responsive Media Queries */
/* Mobile devices */
@media screen and (max-width: 576px) {
  nav,
  nav > ul, .team-container, .facts-img-container {
    flex-direction: column;
  }
  header {
    padding: 10px;
  }
  nav li {
    margin-top: 10px;
  }
  .banner-title,.team-title {
    font-size: 2rem;
  }
  .team-img-container{
    grid-template-columns: 1fr;
  }
  .team-img-container img{
    width: 100%;
  }
  
  .team-content, .facts-img-container{
    padding-left: 20px;
    padding-right: 20px;
}
.facts-img-container{
  gap: 30px;
}
}
/* tablet or Medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header {
    padding: 50px;
  }
  nav, .team-container {
    flex-direction: column;
  }
  .facts-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
  }
}
